{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="text-center text-primary mt-5 mb-3">Добавление новой задачи. Проект: {{project.title}}</h1>
    <div class="row">
      <div class="offset-md-4 col-md-4 offset-md-4 col-12"> 
        <form method="post" >
          {% csrf_token %}
            <fieldset>
                <div class="mt-4">
                    <label class="form-label">Постановка задачи</label>
                    <textarea required class="form-control" rows="3" name="ttext"></textarea>
                </div>
                <div class="mt-4">
                    <label class="form-label">Выбрать исполнителя</label>
                    <select class="form-select" name="wid">
                        {% for worker in workers %}
                        <option value="{{worker.member.id}}">{{worker.member.lname}} {{worker.member.name}}, {{worker.role}}</option>  
                        {% endfor %}      
                    </select>
                </div>
                <div class="mt-4">
                    <label  class="form-label text-primary">Дата начала исполнения</label>
                    <input required type="date" class="form-control" name="sd" >
                </div>
                <div class="mt-4">
                    <label  class="form-label text-primary">Дата завершения задачи</label>
                    <input required type="date" class="form-control" name="ed">
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Создать</button>              
                </div>            
          </fieldset>
        </form>
      </div>
      <!-- /.offset-md-4 col-md-4 offset-md-4 col-12 -->
    </div>
    <!-- /.row -->

{% endblock %}