{% extends 'base.html' %}
{% load static %}

{% block content %} 

<h2 class="text-center mt-5 mb-3">Ваша группа: {{client.studentgroup}}</h2>
<h3 class="text-center mb-3">Доступные курсы:</h3>

<div class="row">
    <div class="offset-md-3 col-md-6 offset-md-3 col-12">
        <div class="list-group">
            {% for course in courses %} 
                <a href="{% url 'show_themes' course.id %}" class="list-group-item list-group-item-action ">{{course.title}}</a>
            {% endfor %}  
        </div>
    </div>
</div>

{% endblock %}